/**
 * body {
 *   color: #FBFBFD;
 *   background-color: #061117;
 * }
 */
$body-bg: #061117;
$body-color: #FBFBFD;

/**
 * button.nav-toggler.collapsed {
 *   border-color: #00C6D6;
 * }
 * span.navbar-toggler-icon {
 *   color: #FBFBFD;
 * }
 */
$navbar-dark-color: rgba(0, 198, 214, 1);
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color: rgba(0, 198, 214, 1);


